# Ignore Python virtual environment
.venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Optional: __pycache__, logs, etc.
__pycache__/
*.log

# Ignore the indexes/ folder 
indexes/

# Ignore serialized files stored in 'cache/' 
cache/

